@font-face {
  font-family: "Inria";
  src: local("Inria"), url(../InriaSans-Bold.woff) format("woff");
}
@font-face {
  font-family: "Xolonium";
  src: local("Xolonium"), url(../Xolonium-Regular.woff) format("woff");
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  position: fixed;
  /* overflow: hidden; */
}

:root {
  font-family: Inria, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #4c8ccf;
  text-decoration: inherit;
}
a:hover {
  color: #538bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
}

canvas {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
}

.ztlogo {
  background-image: url(../zt-logo.png);
  width: 201px;
  height: 32px;
  position: relative;
  top: 2vh;
  left: 2vw;
  opacity: 0.6;
}
.markerPopup {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  border-radius: 4px;
  border: 2px solid rgba(86, 105, 111, 0.5);
  background: linear-gradient(
    173deg,
    rgba(22, 35, 39, 0.9) 31.95%,
    rgba(20, 57, 68, 0.36) 112.56%
  );
  backdrop-filter: blur(8px);
}
.uicontainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.uicontainer__charts {
  position: absolute;
  top: 0;
  right: 0;
  height: 100svh;
}

.uileftsection {
  z-index: 21;

  position: relative;
  left: 2vw;
  top: 11vh;

  width: 426px;
  height: 826px;
  /* min-height: 80vh; */
  /* max-height: 91vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  gap: 10px;
  border-radius: 4px;
  border: 2px solid rgba(86, 105, 111, 0.5);
  background: linear-gradient(
    173deg,
    rgba(22, 35, 39, 0.9) 31.95%,
    rgba(20, 57, 68, 0.36) 112.56%
  );
  box-shadow: 0px 8px 8px 0px rgba(18, 44, 33, 0.3);
  backdrop-filter: blur(8px);
}

.uileftsectionindex.active {
  border: 1px solid #41d3b9;
  z-index: 21;

  position: relative;
  left: 2vw;
  top: 11vh;

  width: 426px;
  height: 826px;
  /* min-height: 80vh; */
  /* max-height: 91vh; */
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center !important; */
  gap: 10px;
  border-radius: 4px;
  background: linear-gradient(
    173deg,
    rgba(22, 35, 39, 0.9) 31.95%,
    rgba(20, 57, 68, 0.36) 112.56%
  );
  box-shadow: 0px 8px 8px 0px rgba(18, 44, 33, 0.3);
  backdrop-filter: blur(8px);
}

.uileftsectionindex {
  z-index: 21;

  position: relative;
  left: 2vw;
  top: 11vh;

  width: 426px;
  height: 826px;
  /* min-height: 80vh; */
  /* max-height: 91vh; */
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center !important; */
  gap: 10px;
  border-radius: 4px;
  border: 2px solid rgba(86, 105, 111, 0.5);
  background: linear-gradient(
    173deg,
    rgba(22, 35, 39, 0.9) 31.95%,
    rgba(20, 57, 68, 0.36) 112.56%
  );
  box-shadow: 0px 8px 8px 0px rgba(18, 44, 33, 0.3);
  backdrop-filter: blur(8px);
}

.sectionbg {
  width: 426px;
  height: 826px;
  position: relative;
  left: 0;
  top: 0;
  background-image: url(../sectionbg.png);
  opacity: 0.1;
  background-repeat: no-repeat;
  z-index: 0;
}

.logo {
  position: absolute;
  top: 26px;
  left: 26px;
}

.sectiontitle {
  color: #fff;
  text-align: right;
  font-family: "Inria";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  position: absolute;
  top: 26px;
  right: 18px;
  padding-right: 27;
  padding-top: 27;
}

.filter {
  width: 84px;
  height: 20px;
  position: absolute;
  top: 96px;
  right: 18px;
}

/* .sectionheader {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
} */

.top__bar {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 977px;
  opacity: 0.8;
}

.top__menu {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 94.518px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 4px;
  background: linear-gradient(
    173deg,
    rgba(61, 113, 129, 0.81) 5.4%,
    rgba(20, 57, 68, 0.32) 112.56%
  );

  box-shadow: 0px 4px 4px 0px rgba(18, 44, 33, 0.75);
  backdrop-filter: blur(8px);
}

.top__menu.active {
  background: linear-gradient(
    173deg,
    rgba(69, 131, 150, 0.81) 5.4%,
    rgba(38, 101, 121, 0.377) 112.56%
  );
  border: 1px solid #41d3b9;
}

.sectionCardcontainer {
  width: 426px;
  height: 826px;

  position: absolute;
  top: 0;
  /* margin-top: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.sectionCardcontainerindex {
  margin-top: 38px;
  margin-left: 28px;
  width: 426px;
  height: 826px;
  position: absolute;
  top: 0;
  /* margin-top: 20px; */
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.sectionItem {
  /* position: relative;

  margin-bottom: 16px;
  width: 385px;
  height: 207px; */
}

.sectionItem:last-child {
  margin-bottom: 0;
}

.sectioncardnew {
  position: relative;
  top: 0;
  width: 385px;
  height: 174px;
  /* flex-shrink: 0; */
  background: rgba(5, 52, 57, 0.6);
  background-blend-mode: overlay;
  backdrop-filter: blur(8px);
}

.sectioncardnewindex {
  display: grid;
  justify-content: center;
  position: relative;
  top: 0;
  width: 176px;
  height: 174px;
  /* flex-shrink: 0; */
  background: rgba(5, 52, 57, 0.6);
  background-blend-mode: overlay;
  backdrop-filter: blur(8px);
}

.cardheaderbg {
  width: 369px;
  height: 52px;
  background-image: url(../cardheader.png);
  position: absolute;
  margin: 8px;
}

.cardheaderbg__charts {
  width: 677px;
  height: 72px;
  background-image: url(../headerbg__charts.png);
  position: absolute;
  margin: 8px;
}

.cardheaderbgindex {
  display: grid;
  width: 160px;
  height: 52px;
  background-image: url(../cardheader.png);
  position: absolute;
  margin: 8px;
}
.chart__placeholder {
  margin: 2%;
}

.sectioncardnew h3 {
  color: #fff;
  font-family: "Inria";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
}

.sectioncardnewindex h3 {
  color: #fff;
  font-family: "Inria";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 10px;
}

.cardbodynew {
  display: flex;
  justify-content: center;
  gap: 6px;
  position: relative;
  width: 370px;
  top: 64px;
  margin: 0 8px;
}

.cardtopleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: rgba(8, 87, 96, 0.3);
  backdrop-filter: blur(8px);
  position: relative;
  width: 100px;
  height: 70px;
}

.cardtopleftindex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: rgba(8, 87, 96, 0.3);
  backdrop-filter: blur(8px);
  position: relative;
  width: 160px;
  height: 70px;
}

.value {
  font-size: 1.8rem;
  font-family: "Xolonium";
  position: relative;
  top: 10px;
}

.unit {
  font-family: "Xolonium";

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 25px;
  background: rgba(8, 87, 96, 0.3);
  backdrop-filter: blur(8px);
  position: relative;
  top: 31px;
}

.unitindex {
  font-family: "Xolonium";

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 160px;
  height: 25px;
  background: rgba(8, 87, 96, 0.3);
  backdrop-filter: blur(8px);
  position: relative;
  top: 31px;
}

/* ----------------END------------------- */

.cardtopright {
  display: flex;
  /* gap: 20px; */
  justify-content: center;
  vertical-align: center;
  padding: 0;
  margin: 0;
  width: 264px;
  height: 100px;
  /* opacity: 0.2; */
  background: rgba(8, 87, 96, 0.3);
  backdrop-filter: blur(8px);
  position: relative;
}

.sectioncard {
  position: absolute;
  top: 126px;
  width: 385px;
  height: 207px;
  flex-shrink: 0;
  background: rgba(5, 52, 57, 0.6);
  background-blend-mode: overlay;
  backdrop-filter: blur(8px);
}

.cardheaderbgL {
  width: 525px;
  height: 52px;
  background-image: url(../cardheaderL.png);
  position: absolute;
  top: 0;
  right: 0;
}

.sectioncard h3 {
  color: #fff;
  font-family: "Inria";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
}

.cardbenchmark {
  width: 368px;
  height: 20px;
  background: #0857604d;
  backdrop-filter: blur(8px);
  position: relative;
  top: 68px;
  left: 8px;
  color: #fff;
  font-family: Xolonium;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.cardbenchmarkbody {
  position: relative;
  top: 72px;
  display: flex;
  justify-content: center;
  gap: 17px;
}

.cardgroup {
  width: 175px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  top: 60px;
}

.cardtop {
  display: flex;
  /* gap: 20px; */
  /* justify-content: center; */
  /* vertical-align: center; */
  padding: 0;
  margin: 0;
  width: 175.441px;
  height: 40px;
  /* opacity: 0.2; */
  background: rgba(8, 87, 96, 0.3);
  backdrop-filter: blur(8px);
  position: relative;
}

.cardbody {
  display: flex;
  justify-content: center;
  gap: 17px;
  position: relative;
  top: 64px;
}

.cardgroup_be {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 13px;
  position: relative;
  top: 64px;
  left: 19px;
}

.cardthumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 180px;
  background: rgba(8, 87, 96, 0.3);
}

.cardthumb h3 {
  color: #fff;
  font-family: Xolonium;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.wasteh6 {
  width: 57px;
  height: 29px;
  flex-shrink: 0;
  background: rgba(8, 87, 96, 0.9);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-content: center;
  color: #41d3b9;
  font-family: Xolonium;
  font-size: 12px;
  font-style: normal;
  position: absolute;
  top: 0;
  right: 0;
  flex-wrap: wrap;
}

.cardtop h3 {
  color: #fff;
  font-family: Xolonium;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  position: absolute;
  top: 0;
}

.bvcardtop h3 {
  color: #fff;
  font-family: Xolonium;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  position: absolute;
  top: 0;
}

.cardtopanimated {
  color: #fff;
  font-family: Xolonium;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  position: absolute;
  top: 0;
  left: -12px;
}

.cardtop h6 {
  color: #fff;
  font-family: Xolonium;
  font-size: 0.8rem !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: right;
  position: absolute;
  top: -30%;
  right: 10px;
}

.cardbottom {
  display: flex;
  /* gap: 20px; */
  /* justify-content: center; */
  vertical-align: center;
  width: 175.441px;
  height: 21px;
  /* opacity: 0.2; */
  background: rgba(8, 90, 96, 0.6);
  backdrop-filter: blur(8px);
  position: relative;
}

.cardbottom div h6 {
  color: #fff;
  text-align: center;
  font-family: Xolonium;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  position: absolute;
  top: -120%;
  left: 30px;
}

.percent {
  color: #ffffff;
  text-align: center;
  font-family: Xolonium;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  position: absolute;
  top: -120%;
  left: 80px;
}

.arrowup {
  position: absolute;
  top: -12%;
  right: 10px;
}

.cardfooter {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 68px;
  left: 8px;
}

.cardicon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  width: 45px;
  height: 40px;
  flex-shrink: 0;
  background: #08596080;
  backdrop-filter: blur(8px);
}
.cardfootertext {
  background: rgba(8, 80, 96, 0.2);
  backdrop-filter: blur(8px);
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  right: 0;
  width: 323px;
  height: 40px;
}

.cardfootertext p {
  color: #fff;
  font-family: "Inria";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: 0;
  padding: 0 8px;
  text-align: center;
}

.cardbar {
  display: flex;
  vertical-align: center;
  width: 175.441px;
  height: 21px;
  background: rgba(8, 86, 96, 0.2);
  backdrop-filter: blur(8px);
  position: relative;
  top: 0;
}

.bar {
  background-color: #41b3d3;
  height: 3px;
}

.box {
  width: 100px;
  height: 4px;
  background-color: #41b1d3;
  position: relative;
}
.boxcontainer {
  width: 104px;
  height: 8px;
  background-color: #5e5e5f;
  position: absolute;
  top: -2px;
  left: -2px;
}

.cleanenergy {
  width: 550px;
  height: 0px;
  position: absolute;
  bottom: 4vh;
  right: 2vw;
  border-radius: 4px;
  border: 2px solid rgba(86, 105, 111, 0.5);
  background: linear-gradient(
    173deg,
    rgba(22, 37, 39, 0.9) 31.95%,
    rgba(20, 59, 68, 0.36) 112.56%
  );
  box-shadow: 0px 8px 8px 0px rgba(18, 44, 43, 0.3);
  backdrop-filter: blur(8px);
}

/* --------------------------------------------------- building view --------------------------------------------------- */

.defaultbg {
  width: 96vw;
  height: 88vh;
  position: absolute;
  left: 2vw;
  top: 6vh;
  display: flex;
  justify-content: center;
  align-items: center !important;

  border-radius: 4px;
  border: 2px solid rgba(86, 105, 111, 0.5);
  background: linear-gradient(
    173deg,
    rgba(22, 36, 39, 0.9) 31.95%,
    rgba(20, 62, 68, 0.36) 112.56%
  );
  box-shadow: 0px 8px 8px 0px rgba(18, 44, 33, 0.3);
  backdrop-filter: blur(8px);
  z-index: 0;
}

.buildingview {
  /* background-image: url(2024demo-bg.png); */
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buildingviewbg_img {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}

.bvbody {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: absolute;
  /* height: 96vh; */
  top: 5px;
}

.bvheader {
  position: absolute;
  top: 60px;
  /* background-color: #41D3B909; */
  width: 1560px;
  height: 80px;
  display: flex;
  align-items: center;
}

.bvheaderlogo {
  margin-left: 10px;
}

.bvheadertitle {
  color: #fff;
  text-align: left;
  font-family: "Inria";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  /* margin-left: 20px; */
}

.bvheaderbuilding {
  color: #fff;
  text-align: right;
  font-family: "Inria";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 45.14px */
  position: absolute;
  right: 10px;
}

.bvheaderdivider {
  width: 368.979px;
  height: 3px;
  background: linear-gradient(
    90deg,
    rgba(0, 62, 75, 0) 10%,
    rgb(0, 161, 186) 88%,
    rgba(0, 70, 75, 0) 100%
  );
  background-blend-mode: lighten;
  position: absolute;
  right: 0;
}

.bvtop {
  position: absolute;
  top: 160px;
  /* background-color: #41D3B909; */
  width: 1560px;
  height: 170px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.bvbottom {
  position: absolute;
  top: 370px;
  /* background-color: #41D3B909; */
  width: 1560px;
  height: 480px;
  display: flex;
  align-items: center;
}

.bvbottomright {
  position: relative;
  top: 11%;
  left: 820px;
  /* background-color: #41D3B909; */
  width: 739px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bfvbottomright {
  position: relative;
  top: 20%;
  left: 820px;
  /* background-color: #41D3B909; */
  width: 739px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holosiemens {
  z-index: 1;
  width: 637px;
  position: relative;
  top: 0;
  /* left: -5%; */
}

.carousel {
  z-index: 1;
  width: 739px;
  height: 480px;
  position: relative;
  top: 0;
  left: -5%;
}

.holosiemensfloor {
  z-index: 1;
  width: 510px;
  position: relative;
  top: 0;
  left: -5%;
}

.circleglow {
  position: absolute;
  top: 25%;
  right: -20%;
  z-index: -1;
  width: 135%;
  height: 90%;
}

.bvsectioncard {
  /* width: 385px;
    height: 208px; */
  /* position: absolute;
    top: 0; */
  /* background: rgba(3, 35, 29, 0.418); */
  /* margin: 0 10px; */

  position: absolute;
  /* top: 126px; */
  width: 385px;
  height: 208px;
  flex-shrink: 0;
  background: rgba(5, 52, 57, 0.6);
  background-blend-mode: overlay;
  backdrop-filter: blur(8px);
}

.bvsectioncard h3 {
  color: #fff;
  /* font-family: "Inria"; */
  /* font-size: 20px; */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
}

.bvcardheaderbg {
  width: 370px;
  height: 52px;
  background-image: url(../cardheader.png);
  position: absolute;
  margin: 8px;
}

.bvbottomleft {
  position: absolute;
  top: 0;
  /* background-color: #41D3B909; */
  width: 800px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bvnavlist {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 20px;
  gap: 10px;
}

.bvnav {
  width: 183.484px;
  height: 40px;
  flex-shrink: 0;
  opacity: 0.2;
  background: #085b60e6;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bvnavactive {
  width: 183.484px;
  height: 40px;
  flex-shrink: 0;
  opacity: 0.85;
  background: rgba(8, 84, 96, 0.9);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bvchartcontainer {
  width: 796.046px;
  height: 329.084px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Linear, rgba(86, 105, 111, 0));
  background: linear-gradient(
    173deg,
    rgba(22, 37, 39, 0.9) 31.95%,
    rgba(20, 64, 68, 0.36) 112.56%
  );
  box-shadow: 0px 4px 4px 0px rgba(18, 44, 43, 0.75);
  backdrop-filter: blur(16px);
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bvchartcontainerline {
  width: 796.046px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(86, 105, 111, 0) 0%,
    rgba(75, 176, 185, 0.36) 50%,
    rgba(86, 105, 111, 0) 100%
  );
  position: absolute;
  top: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bvchartnavlist {
  width: 183.484px;
  height: 243px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bvchartnav {
  width: 183.484px;
  height: 40px;
  flex-shrink: 0;
  opacity: 0.2;
  background: rgba(8, 83, 96, 0.9);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bvchartnavactive {
  width: 183.484px;
  height: 40px;
  flex-shrink: 0;
  opacity: 0.85;
  background: rgba(8, 86, 96, 0.9);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bvchart {
  width: 542.475px;
  height: 243px;
  flex-shrink: 0;
  border: 1px solid rgba(180, 202, 45, 0);
  background: rgba(64, 114, 117, 0.1);
}

.bvbottomleftbtns {
  width: 796.046px;
  height: 40px;
  opacity: 0.85;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  top: 30px;
  gap: 20px;
}

.bvsusanabtn,
.bvbldgmanbtn {
  width: 300px;
  height: 40px;
  flex-shrink: 0;
  opacity: 0.85;
  background: rgba(8, 86, 96, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.enrcharttrend {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 300px;
}

.custom-tooltip {
  padding: 8px;
  line-height: 1;
  border-radius: 4px;
  border: 2px solid rgba(86, 105, 111, 0.5);
  background: linear-gradient(
    173deg,
    rgba(22, 39, 36, 0.9) 31.95%,
    rgba(20, 68, 59, 0.36) 112.56%
  );
  box-shadow: 0px 8px 8px 0px rgba(18, 44, 43, 0.3);
}

.backbtn h4 {
  position: absolute;
  top: 0;
  left: 2%;
  color: #15cbdbcc;
}

.backbtn:hover h4 {
  color: #61c8d2;
}

.backbtn:active h4 {
  color: #ffffff;
}

.alert {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(
    173deg,
    rgba(22, 39, 36, 0.9) 31.95%,
    rgba(20, 68, 59, 0.36) 112.56%
  );
  border-radius: 4px;
  border: 2px solid rgba(86, 105, 111, 0.5);
}

.alertbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 30px;
  height: 26px;
  background: linear-gradient(
    110deg,
    rgba(39, 22, 22, 0.9) 31.95%,
    rgba(103, 31, 31, 1) 112.56%
  );
  border-radius: 2px 0 0 2px;
}

.custom-cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: red; /* Just an example, you can customize */
  border-radius: 50%; /* To make it circular */
  pointer-events: none; /* This ensures the cursor does not interfere with mouse events */
  z-index: 9999; /* Ensure it's above other elements */
}

.enableEye {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -70px;
  right: 0px;
  background: linear-gradient(
    173deg,
    rgba(22, 39, 36, 0.9) 31.95%,
    rgba(20, 68, 59, 0.36) 112.56%
  );
  border-radius: 4px;
  border: 2px solid rgba(86, 105, 111, 0.5);
  opacity: 0.7;
}

.floorselect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.floorbtn {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  opacity: 0.2;
  background: #085360e6;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.floorbtn:hover {
  opacity: 1;
}
.floorbtnactive {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  opacity: 0.9;
  background: #085360e6;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.annotation {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 50px;
  width: 350px;
  border-radius: 4px;
  border: 2px solid rgba(86, 105, 111, 0.5);
  background: linear-gradient(
    173deg,
    rgba(17, 42, 49, 0.9) 0%,
    rgba(20, 57, 68, 0.36) 100%
  );
  backdrop-filter: blur(18px);
  transition: border 0.3s, width 0.3s, height 0.3s, display 0.3s;
  transition-timing-function: ease-out;
}

.annotation:hover {
  border: 3px solid rgba(195, 218, 225, 0.8);
  width: 354px;
  height: 60px;
  background-color: #4abbc3;
}

.uirightsection {
  position: relative;
  right: -76vw;
  top: 13vh;

  width: 426px;
  height: 826px;
  /* min-height: 80vh; */
  /* max-height: 91vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  gap: 10px;
  border-radius: 4px;
  border: 2px solid rgba(86, 105, 111, 0.5);
  background: linear-gradient(
    173deg,
    rgba(22, 35, 39, 0.9) 31.95%,
    rgba(20, 57, 68, 0.36) 112.56%
  );
  box-shadow: 0px 8px 8px 0px rgba(18, 44, 33, 0.3);
  backdrop-filter: blur(8px);
}

.uirightsection__charts {
  position: relative;
  /* right: -75vw;
  top: 13vh; */
  /* right: -50vw; */
  width: 977px;
  height: 100%;
  /* min-height: 80vh; */
  /* max-height: 91vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  gap: 10px;
  /* border-radius: 4px; */
  /* border: 2px solid rgba(86, 105, 111, 0.5); */
  /* background: linear-gradient(
    173deg,
    rgba(22, 35, 39, 0.9) 31.95%,
    rgba(20, 57, 68, 0.36) 112.56%
  ); */
  /* box-shadow: 0px 8px 8px 0px rgba(18, 44, 33, 0.3); */

  background: linear-gradient(
    90deg,
    rgba(13, 30, 23, 0) 1.86%,
    rgba(11, 21, 18, 0.9) 9.96%,
    rgba(6, 21, 19, 0.95) 100%
  );
  /* backdrop-filter: blur(8px); */
}

.scChart {
  margin-left: -66px;
  font-size: 0.7rem;
  /* border: 1px solid rgba(180, 202, 45, 0);
  background: rgba(64, 114, 117, 0.1); */
}
